@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background: #f4f4f5;
  color: #18181b;
  transition: background 0.3s ease, color 0.3s ease;
  overflow-x: hidden;
}

body.dark {
  background: #050505;
  color: #fafafa;
}

.container {
  width: 92%;
  max-width: 1450px;
  margin: auto;
}
